<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYp8CaNdgm-z3--jMS-u-HzTiitkrFdn0</string>
	<key>GCM_SENDER_ID</key>
	<string>869851254456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rampiMapeador.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rampi-1a52d</string>
	<key>STORAGE_BUCKET</key>
	<string>rampi-1a52d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869851254456:ios:c1753bf94927ed30572e4d</string>
</dict>
</plist>